<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'appointments')}">

	<body>
	
		<h2> Appointments </h2>
		
		<table id="appointments" class="table table-striped">
			<thead>
				<tr>
					<th> Date </th>
					<th> Pet </th>
					<th style="width: 200px;"> Description </th>
					<th> Confirmed </th>
					<th> Confirm appointment? </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="appointment : ${appointments}">
					<td th:text="${appointment.date}"/>
					<td th:text="${appointment.pet.name}"/>
					<td th:text="${appointment.description}"/>
					<td th:text="${appointment.confirmed}"/>
					<td>
						<span th:if = "${appointment.confirmed}"> N/A </span>
						<span th:unless = "${appointment.confirmed}"> <a th:href="@{~/appointmentConfirm/{id}(id=${appointment.id})}"> Confirm </a> </span>
					</td>
				</tr>
			</tbody>
		</table>
	
	</body>